@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=La+Belle+Aurore&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
.range-ss {
  height: 0.6rem /* 16px */;
}
.range-ss::-webkit-slider-runnable-track {
  height: 0.3rem /* 4px */;
  background-color: rgb(228, 212, 191);
}
.range-ss::-moz-range-track {
  height: 0.3rem /* 4px */;
}
.range-ss::-webkit-slider-thumb {
  color: rgb(249, 115, 22);
  height: 0.6rem /* 16px */;
  width: 0.6rem /* 16px */;
  --filler-offset: 0.3rem /* 6.4px */;
}
.range-ss::-webkit-slider-thumb:hover {
  color: rgb(58, 66, 126, 0.8);
}
.range-ss::-moz-range-thumb {
  height: 0.6rem /* 16px */;
  color: rgb(249, 115, 22);
  width: 0.6rem /* 16px */;
  --filler-offset: 0.3rem /* 6.4px */;
}
.range-ss::-moz-range-thumb:hover {
  color: rgb(58, 66, 126, 0.8);
}
.wrapper {
  width: 100%;
}

* {
  scrollbar-color: rgb(241, 188, 89) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(241, 188, 89);
  border-radius: 8px;
}
@keyframes slide-in {
  from {
    transform: translateX(-20rem);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce {
  animation: bounce 2s infinite;
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    max-width: 1320px;
    margin: 0 auto;
  }
}
